
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a class="btn btn-dark" asp-controller="Demo" asp-action="OnView" asp-route-id="1">Click 1</a>

<a class="btn btn-danger" asp-controller="Demo" asp-action="OnView" asp-route-id="2">Click 2</a>
